*{
    font-family:  sans-serif;
}
html, body, #root{
    margin: 0;
    overflow-x: hidden;
}
.zeroPosition{
    position: relative;
    top: -10px;
    left: -10px;
    width: calc(100% + 18px);
}

                                                                /* Main Page */
                        /* Over Header */
.HeaderContactContainer{
    background-color: #868686;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.HeaderContactItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.SellerButton{
    color: #ffffff;
    background-color: #4E4B4B;
    font-weight: bold;
    margin: 25px 0 25px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    width: 13%;
    font-size: .8rem;
}
.HeaderContactItemContainer{
    display: flex;
    gap: 350px;

}

                        /* Header */
.header{
    background-color: #D4D4D4;
    display: flex;
    flex-direction: column;

}
.HeaderBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4D4D4;
}
.LinkBar{
    display: flex;
    justify-content: space-between;
    gap: 69px;
    font-weight: bolder;

}
.LinkBarItem{
    color: #000000;
    text-decoration: none;
}

.IconLinkBar{
    display: flex;
    gap: 40px;
    padding-right: 50px;
}
.HeaderContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0 100px;

}
.HeaderContentItem{
    text-align: center;
}
.HeaderH1{
    font-size: 3.5rem;
    margin: 0;
}
.HeaderSpan{
    color: #ffffff;
}
.HeaderH2{
    margin: 10px 0;
}
.HeaderButton{
    color: #ffffff;
    background-color: #868686;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    margin-top: 40px;
    text-decoration: none;
    transition: all 0.4s;
}
.HeaderButton:hover{
    font-size: 1.3rem;
}
.MainPageHeaderImage{
    position: relative;
    animation: DreaptaStanga 1s;
}
@keyframes DreaptaStanga {
    from {
        right: -1100px;
    }
    to{
        right: 0;
    }
}

/* Search */

.SearchText{
    position: relative;
    top: -7px;
    background-color: transparent;
    border: none;
    width: 0;
    transition: width 0.4s;
}
.SearchText:focus{
    outline: none;
    width: 150px;
}
.searchContainer:hover > .SearchText{
    width: 150px;
}
/* DropDownMenu */
.CartDropDownMenuContainer{

}
.CartDropDownMenuButton{
    background-color: transparent;
    border: none;
}
.CartDropDownMenu{
    z-index: 99;
    position: absolute;
    right: -460px;
    top: -110px;
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    width: 0;
}
.CartDropDownMenuContainer > .CartDropDownMenuButton:focus + .CartDropDownMenu, .CartDropDownMenu:hover{
    opacity: 1;
    transform: translateY(0);
    width: 25vw;
    height: 600px;
    top: 0;
    right: 0;
    
    
}
.DropDownMenuTop{
    position: relative;
}
.DropDownMenuSacosaImg{
    position: absolute;
    right: 10px;
    top: 2px;
    
}
.hr90{
    border: 1px solid #D9D9D9;
    width: 100%;
    margin: 30px 0;

}
.CartItemQuantity:focus, .CartItemQuantity{
    width: 25px;
    text-align: center;
    border: none;
    outline: none;
}
.CartDropDownMenuMiddle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.CartDropDownMenuMiddle2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.CartDropDownItemImg{
    background-color: #D9D9D9;
    
}
.CartDropDownCheckBox{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
}
.CartDropDownMenuDown{
    position: absolute;
    bottom: 0;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CartDownSubTotal{
    display: flex;
    justify-content: space-around;
    gap: 90px;
}
.hr100{
    width: 110%;
    margin: 25px 0 50px;

}
.CartDownButtons{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;

}
.CartButtonDown{
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
}
                        /* Highlight */
.MainPageHighlightContainer{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
    padding: 50px 0 100px;
}
.MainPageHighlightContainer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 150px;
}
.highlightItem{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
    color: #000000;
    gap: 5px;
}
.ItemName{
    font-size: 2rem;
    margin: 10px 0;
    position: relative;
    left: 25px;
}
.highlightItemDown{
    position: relative;
    left: 25px;
}
.highlightItemDown > a{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
}
.hr{
    border: 1px solid #000000;
    margin: 7px;
}
            /* Top Pickups */
.TopPicksContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
    padding: 50px 0;
}
.TopPicksContainer2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
.TopPicksTitle{
    text-align: center;
}
.TopPicksHead{
    font-size: 2.1rem;
    margin: 20px 0 10px;
    color: #000000;
    font-weight: 600;
}
.TopPicksUnderHead{
    font-size: 0.8rem;
    color: #9F9F9F;
}
.TopPicksItemContainer{
    display: flex;
    gap: 30px;
}
.TopPicksItem{
    padding: 20px;
}
.TopPicksItemPrice{
    font-size: 1.4rem;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
}
.ViewMore{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
}
                            /* New Arrivals */
.NewArrivalContainer{
    background-color: #A5A5A5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 30px 10px;
    color: #000000;
}
.NewArrivalContainer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.NewArrivalText{
    text-align: center;
    font-weight: bold;
}
.NewArrivalOverHead{
    font-size: 1.2rem;
    
}
.NewArrivalTitle{
    font-size: 2.1rem;
    margin: 0 0 20px;
}
.NewArrivalButton{
    font-size: 1.2rem;
    background-color: #ffffff;
    padding: 10px 20px;
    border: none;
}
                            /* Blog */
.MainPageBlogContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.MainPageBlogTitle{
    text-align: center;
}
.BlogHead{
    font-size: 2.4rem;
    margin-bottom: 0;
}
.BlogUnderHead{
    color: #9F9F9F;
    font-size: 0.8rem;
    margin-bottom: 50px;
}
.BlogItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.BlogItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.BlogItemDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BlogReadMore{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.w70{
    width: 70px;
}
                    /* Instagram */
.MainPageInstagramContainer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./assets/instaBg.svg);
}
.InstaHead{
    font-size: 2.5rem;
    margin-bottom: 0;
}
.InstaButton{
    font-size: 1.1rem;
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 20px 60px;
    box-shadow: 0 8px 6px -6px black;
}
                                /* Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.UpperFooterContainer{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}
.FooterLinksContainer{
    display: flex;
    gap: 110px;
    margin: 50px 0 50px;
}
.FooterLink{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.FooterLinkTitle{
    color: #9F9F9F;
    font-size: 0.97rem;
}
.FooterLink > a{
    color: #000000;
    text-decoration: none;
}
.FooterInputContainer{
    display: flex;
    gap: 10px;
}
.InputEmail{
    border: none;
    border-bottom: 1px solid #000000;
}
.FooterButton{
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #000000;
}
.FooterHr{
    width: 90%;
    border: 0.5px solid #D9D9D9;
    margin: 20px;
}

                                                                /* Shop Page */
                                /* Header */
.ShopPageHeader{
    background-image: url("./assets/ShopPageBg.png");
    background-size: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.ShopPageHeaderTitle{
    margin: 0;
}
.ShopPageSubTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

                                /* Filter */
.ShopPageFilter{
    background-color: #D4D4D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.ShopPageFilterLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
}
.filterHr{
    border: 1px solid #000000;
    height: 3vh;
}
.ShopPageFilterRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.FilterRightItem{
    display: flex;
    gap: 5px;
}
.FilterItemInputNr{
    border-radius: 10px;
    border: none;
    text-align: center;
    height: 50px;
}
.FilterItemInputTxt{
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 50%;
}
                /* Shop Items */
.shop{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: center;
    align-items: flex-start;
}
.ShopPageItemList{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}
.ShopItemDesc, .ShopItemPrice{
    position: relative;
    left: 10px;
    margin: 10px;
}
.ImageCorrectionLeft{
    position: relative;
    left: 10px
}
.ShopPageButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
}
.ShopPageButon{
    text-decoration: none;
    color: #000000;
    border: none;
    position: relative;
    bottom: 0;
    border-radius: 10px;
    background-color: #FFF9E5;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: 0.5s
    
}
.ShopPageButon:hover{
    bottom: 2px;
    background-color: #FBEBB5;
}
.ShopItemAddCartButton{
    background-color: transparent;
    border: 1px solid #D4D4D4;
    font-size: 1.1rem;
    padding: 5px;
    border-radius:5px;
    margin-left: 18px;
}
.ShopItemAddCartButton:active{
    background-color: transparent;
    box-shadow: inset 0 0 2px rgb(0, 0, 0);
    font-size: 1.06rem;
}
                        /* Ads */
.ShopPageAdsContrainer{
    background-color: #D4D4D4;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 50px 0;
}
.AdsItem{
    display: flex;
    flex-direction: column;
}
.AdsItemHead{
    font-size: 2rem;
    margin-bottom: 5px;
}
.AdsItemDesc{
    margin-top: 0;
}
                                                    /* ProductPage */
.ProductPagePathBarContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 25px 70px;
    width: 100px;

}
.ProductPageParagraf{
    display: flex;
    align-items: center;
    color: #9F9F9F;
    gap: 10px;
}
.filterHr{
    width: 0;
    border: 1px solid #000000;
}

                    /* product */
.ProductPageProductContainer{
    display: flex;
    gap: 100px;
    padding-left: 60px;
}
.ProductImgCarousel{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ProductCarouselItem{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: fit-content;
}
.ProductContainerLeft{
    display: flex;
    gap: 50px;
}
.ProductImgShow{
    background-color: #D9D9D9;
    border-radius: 10px;
    max-height: 370px;
}
.ProductHead{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
.productPrice{
    color: #9F9F9F;
    font-size: 2rem;
    margin: 5px 0;
}
.ProductLeftUnderHead{
    display: flex;
    gap: 10px;
    align-items: center;
}
.ProductLeftHr{
    border: 1px solid #9F9F9F;
    height: 3vh;
}
.ProductLeftRevCount{
    color: #9F9F9F;
}
.ProductDescLeft{
    margin: 5px 0;
    line-height: 27px;
}
.ProductSize{
    color: #9F9F9F;
    margin: 5px 0;
}
.ProductSizeButtonContainer{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.ProductSizeButton{
    border: none;
    border-radius: 10px;
    background-color: #FAF4F4;
    padding: 10px;
}
.Sel{
    background-color: #FBEBB5;
}
.ProductColorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ProductColor{
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    position: relative;
    left: 2px;
    margin-top: 10px;
}
.ProductCountContainer{
    display: flex;
    justify-content: space-around;
    width: 100px;
    border: 1px solid #000000;
    border-radius: 10px;

}
.ProductCountContainer > button{
    background-color: transparent;
    border: none;
}
.ProductCountAddCart{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}
.AddToCartButton{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}
.margin40{
    margin-top: 70px;
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
}
.ProductOtherDetailsItem{
    margin: 2px;
    color: #9F9F9F;
}

                            /* Product Page Info */
.ProductPageInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProductPageInfoHr{
    border: 1px solid #9F9F9F;
    width: 100%;
    margin: 100px 0px;   
}
.ProductPageInfoNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.InfoNavBarButton{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #9F9F9F;
    font-weight: 200;
}
.InfoNavBarButton:nth-child(1){
    color: #000000;
}
.ProductPageInfoText{
    margin: 70px 0 100px;
    line-height: 20px;
    color: #9F9F9F;
}
.ProductPageInfoImg{
    display: flex;
    gap: 30px;
}
.ProductPageInfoImgItem{
    background-color: #D9D9D9;
    border-radius: 10px;
}
                                                /* My Account */
.MyAccountBg{
    background-image: url('./assets//MyAccountBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.MyAccountHeaderContainer{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    top: -15px;
    width: 100%;
    height: 316px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MyAccountUnderHead{
    display: flex;
    align-items: center;
    justify-content: center;
}
                    /* Log In / Register */
.MyAccountRegisterContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25%;
    background-color: #ffffff;

}
.MyAccountRegisterLogIn{
    display: flex;
    flex-direction: column;
}
.LogInTitle{
    margin-bottom: 115px;
}
.MyAccountRegisterLogIn > h2{
    font-size: 2.5rem;
}
.LogInEmailContainer{
    display: flex;
    flex-direction: column;
    height: 70px;
    margin: 30px 0;
}
.LogInEmail{
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 20px;
    width: 300PX;
    transition: all 0.2s ease-in-out;
}
.LogInEmail:focus{
    outline: none;
    
}
.EmailLabel{
    position: relative;
    width: fit-content;
    left: 30px;
    bottom: 45px;
    padding: 0 4px;
    font-size: 16px;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}
.LogInEmail:focus~.EmailLabel{
    bottom: 77px;
    left: 20px;
    font-size: 13px;
}
.LogInText{
    line-height: 30px;
    margin: 20px 0;
}
.RememberMeButton{
    display: flex;
    align-items: center;
    gap: 20px;
}
.CheckBoxLogIn{
    appearance: none;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}
.CheckBoxLogIn:checked::after{
    content: '✓';
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogInButtonContainer{
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}
.LogInButton{
    font-size: 1.5rem;
    background-color: transparent;
    padding: 10px 50px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.LostPassword{
    text-decoration: none;
    color: #000000;
}
.MyAccountRegisterContainer{
    margin-bottom: 200px;
}
                                    /* Checkout */
.CheckoutBg{
    background-image: url('./assets/CheckoutBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.CheckoutBillingContainer{
    display: flex;

    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    margin-bottom: 40px;
}
.BillingHead{
    font-size: 2.5rem;
}
.BillingNameContainer{
    display: flex;
    gap: 20px;

}
.BilltingTextArea{
    outline: none;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
}
.BilltingTextArea:hover{
    border: 1px solid #000000;
}
.w10{
    width: 370px;
}
.p10{
    margin-top: 30px;
}
            /* billing right */
.BillingRightUp{
    display: flex;
    gap: 50px;
}
.TextRight{
    text-align: right;
}
.BillingProductDetailsTitle{
    margin: 33px 0;
    font-size: 1.5rem;
}
.BillingProductDetailsName{
    color: #9F9F9F;
    margin-bottom: 10px;
}
.BillingProductDetailsTotal{
    margin: 20px 0;
}
.BillingProductDetailsLastPrice{
    color: #B88E2F;
    font-size: 1.6rem;
    margin: 0;
}
.hr100{
    border: 1px solid #D9D9D9;
}
.bullet{
    background-color: #000000;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.BillOption{
    display: flex;
    align-items: center;
    gap: 10px;
}
.BillOptionDesc{
    color: #9F9F9F;
    line-height: 30px;
}
.NoBg{
    background-color: transparent;
    border: 1px solid #9F9F9F;
}
.Grey{
    color: #9F9F9F;
}
.BillOtherOption{
    margin: 10px 0;
}
.LineSpace25{
    line-height: 25px;
}
.PlaceOrderContainer{
    display: flex;
    justify-content: center;
}
.PlaceOrderButton{
    background-color: transparent;
    outline: none;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px 50px;
    text-align: center;
    margin-top: 20px;
}



                                        /* cart page */
.CartBodyContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 50px 0;

}
.CartBodyLegend{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E5;
    gap: 50px;
    padding: 0 30px;
    margin-left: 50px;
}
.CartBodyListItems{
    display: flex;
    padding: 50px 0;
    gap: 3em;

}
.CartItemImg{
    background-color: #D9D9D9;
    width: 5em;
    height: 5em;
    border-radius: 5px;
}
.CartItemItemTextContainer{
    display: flex;
    align-items: center;
    gap: 3em;
}
.CartQuantityItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.NoBdBg{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: flex-start;
}
.CartQuantityItemNr{
    margin: 0;
}
.CartBodyRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #FFF9E5;
    margin: 20px;
}
.CartTitle{
    font-size: 1.6rem;
    text-align: center;
}
.CartBodyRightContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin: 20px 0;
}
.CartCheckoutButton{
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px 50px;
    margin: 0 60px 40px 60px;
    text-decoration: none;
}
.CartPageBg{
    background-image: url(./assets/CartPageBg.svg);
}
                                /* Contact */
.ContactBodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 50px 0 100px;
}
.ContactBodyHeader{
    text-align: center;
}
.ContactBodyTitle{
    font-size: 2.1rem;
}
.ContactBodyUnderTitle{
    max-width: 650px;
    color: #9F9F9F;
    line-height: 30px;
}
.ContactBodyMiddle{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 300px;
}
.ContactBodyMiddleLeft{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ContactLeftItem{
    display: flex;
    gap: 20px;
}
.ContactLeftItemText{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.ContactLeftItemTextHead{
    margin: 0;
    font-size: 1.3rem;
}
.ContactLeftItemTextUnderHead{
    margin: 0;
}
.ContactBodyMiddleRight{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ContactBodyRightText{
    font-weight: bold;
}
.ContactBodyRightButton{
    font-size: 1.1rem;
    padding: 15px 40px;
    border-radius: 10px;
    width: 400px;
    outline: none;
    border: 1px solid #000000;
    background-color: transparent;
}
.w100{
    width: 250px;
}


@media (max-width: 450px)  {
    .HeaderContactItemContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    .HeaderContactContainer{
        align-items: center;
        height: 150px;
    }
    .HeaderContactItem{
        font-size: .7rem;
    }
    .SellerButton{
        width: 150px;
        height: 40px;
        font-size: .7rem;
        padding: 10px;
    }
    .dNone{
        display: none;
    }
    .MainPageHighlightContainer2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .highlightItem{
        text-align: start;
        display: flex;
        justify-content: start;
    }
    .highlightItemDown{
        left: 50px;
    }
    .HighlightItemImg{
        height: 200px;
    }
    .ItemName{
        font-size: 1.7rem;
    }
    .TopPicksItemContainer{
        flex-direction: column;
    }
    .TopPicksUnderHead{
        max-width: 300px;
        margin-top: 20px;
    }
    .NewArrivalContainer2{
        flex-direction: column;
    }
    .NewArrivalImg{
        height: 200px;
    }
    .BlogItemContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .BlogImg{
        height: 200px;
    }
    .BlogItem{
        width: 200px;
    }
    .BlogItemDownText{
        text-align: center;
    }
    .BlogMinImg{
        height: 15px;
        margin: 0 10px;

    }
    .BlogItemTitle{
        text-align: center;
    }
    .UpperFooterContainer{
        flex-direction: column;
        gap: 10px;
    }
    .FooterLinksContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FooterLink{
        text-align: center;
    }
    .CartBodyContainer{
        flex-direction: column;
    }
    .CartBodyLeft{
        font-size: .6rem;
    }
    .CartBodyLegend{
        gap: 10px;
        margin: 0;

    }
    .deleteCartItemImg{
        height: 20px;
    }
    .CartBodyRight{
        font-size: .7rem;
    }
    .ShopPageAdsContrainer{
        flex-direction: column;
        text-align: center;
    }
    .CheckoutBillingContainer{
        padding: 0 0 70px 10px;
        flex-direction: column;
    }
    .ContactBodyMiddle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ContactBodyRightButton{
        width: 70%;
    }
    .ContactBodyRightItem{
        margin-left: 10px;
    }
    .s10{
        margin-left: 10px;
    }
    .MyAccountRegisterContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ProductPageProductContainer{
        flex-direction: column;
    }
    .ProductImgShow, .ProductPageMainImg{
        height: 300px;
        width: 300px;
    }
    .ProductContainerLeft{
        flex-direction: column-reverse;
    }
    .ProductImgCarousel{
        flex-direction: row;
    }
    .ProductCarouselImg, .ProductCarouselItem{
        height: 60px;
        width: 60px;
    }
    .ProductCarouselItem{
        flex-direction: column;
    }
    .InfoNavBarButton{
        font-size: 1rem;
    }
    .ProductPageInfoNavBar{
        gap: 20px;
    }
    .ProductPageInfoText{
        width: 90%;
        line-height: 30px;
    }
    .ProductPageInfoImg{
        flex-direction: column;
    }
    .ProductPageInfoImgItem{
        height: 400px;
        width: 400px;
    }
    .ShopPageItemList{
        align-items: center;
        justify-content: center;
    }
    .ShopPageFilterInfoItems{
        font-size: .7rem;
    }
}